a, h1, h2, h3, div, body, html, p {
    margin: 0;
    padding: 0;
    border: 0;
  }

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #f6f6f6;
    height: auto;
    max-height: 100%;
}

/*#middleBackground {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    height: 100%;
    margin: 0 100px;
}
*/

#topBox {
    height: 150px;
    position: fixed;
    width: 100%;
    top: 0;
}


#userPost {
    background-color: #ffffff;
    margin: 0 100px;
    height: fit-content;
    padding-bottom: 40px;
}

#userPost p {
    padding-top: 30px;
    padding-left: 20px;
}

#userPost h1 {
    padding-top: 10px;
    padding-left: 20px;
   
}

#middleBox {
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    height: auto;
    margin: 135px 100px 75px;
}

/*content created by submite button */
#guestPost {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 25px;
}

#guestPost:last-child {
    margin-bottom: 100px;
}

#containerOne {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.photoBox {
    height: 100px;
    width: 100px;
    margin-right: 25px;
}

#photo {
    height: 100px;
    width: 100px;
}

img {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

/*where username and comment go when submited*/
.contentBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#guestName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#guestComment {
    font-size: larger;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

/*edits comments or delets post alltogether*/
.editBox {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    height: 50px;
}

.edit {
    display: flex;
    justify-content: center;
    width: 75px;
    color: #bcdee9;
    cursor: pointer;
   
}

.delete {
    display: flex;
    justify-content: center;
    width: 75px;
    color: #bcdee9;
    cursor: pointer;
}

#containerTwo {
    border: 2px solid black;
}

.off {
    display: none;
}


.on {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#commentEdit {
    margin: 0  10px 0px 145px;
    width: 100%;
}

.editSubmit {
    display: flex;
    align-items: center;
    margin: 0 100px 10px 20px;
    font-size: 30px;
    color: #bcdee9;
    cursor: pointer;
}
/**/


#bottomBox {
    height: 75px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#formBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    height: 75px;
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    width: 100%;
}

#displayName {
    font-size: 20px;
    width: 145px;
    margin: 0 5px 0 20px;
}

#comment {
    font-size: 20px;
    width: 100%;
    margin: 0 5px;
}

#submitButton {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #bcdee9;
    margin: 0 40px 0 10px;
    cursor: pointer;
}



.test {
    border: 2px solid yellow;
}